/* Home.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* Hero Section */
  .hero-section {
  
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 250px 0;
    text-align: right;
    position: relative;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Add a dark overlay for better text contrast */
    z-index: 1;
  }
  
  .hero-section > * {
    position: relative;
    z-index: 2;
  }
  
  .hero-title {
    font-size: 74px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  
  .hero-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    
  }
  
  .hero-button {
    padding: 10px 20px;
    font-size: 1rem;
   
  }
  
  .hero-description {
    margin-top: 30px;
  }
  
  .hero-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .hero-subtext {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  
  .hero-image-container {
    position: relative;
    display: inline-block;
  }
  
  .hero-image {
    width: 100%;
    max-width: 400px; /* Adjust the max width as needed */
    border-radius: 8px; /* Optional: Adds a rounded border to the image */
  }
  
  .hero-image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .hero-image-text {
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
    text-decoration: underline;
    color: #ffffff;
  }
  
  
  @media (max-width: 768px) {
    .feature-box {
      margin-bottom: 20px;
    }
  }
  
  